body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

#section1 {
  background-image: url('https://imgur.com/6CZ0ySx.png'); /* Add your image path */
}

#section2 {
  background-image: url('https://imgur.com/AH2sVfW.png'); /* Add your image path */
}

#section3 {
  background-image: url('https://imgur.com/GPWjBov.png'); /* Add your image path */
}

#section4 {
  background-image: url('https://imgur.com/YQu3z3Y.png'); /* Add your image path */
}

h1 {
  margin: 0;
  font-size: 3rem;
}

p {
  margin: 10px 0;
  font-size: 1.5rem;
}
